@import url(assets/font/OPTIEngeEtienne.otf);
body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family:
}
.card{
    width: 50vw; 
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.936);
    margin-left: 24%;
    border-radius: 20px;
}
#imageCard{
    background-image: url(assets/image/divImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 35.94%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#displayClasses{
    margin-left: 30%;
}
#btn{
    margin-left: 39%;
    padding: 3%;
}


