@font-face {
    font-family: "Pixel";
    src: url(assets/font/minecraft/Minecraft.ttf) format("truetype");
}

@font-face {
    font-family: "Quantico";
    src: url(assets/font/quantico/Quantico-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Pixel";
}

body {
    background-color: #222222;
    color: rgb(255, 255, 255);
}

.sectionHome {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-flex {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.logo-img {
    height: 180px;
}

.logo-title {
    font-size: 3rem;
}

.slogan {
    margin: 4%;
    font-family: "Quantico";
    font-size: 1.5rem;
    text-align: center;
}

.sectionRandomize {
    padding: 1em;
    background-color: #3c3a66;
    text-align: center;
    padding-top: 4%;
}

#btn {
    padding: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: "Pixel";
    letter-spacing: 0.2em;
    text-align: center;
}

#classesDisplay {
    height: 2vh;
    padding: 5%;
    font-family: "Quantico";
    font-size: 2rem;
}

.footer {
    width: 100vw;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-container li {
    padding: 15px 20px;
}

.contact-link {
    color: white;
    font-family: "Quantico";
}

.contact-link:visited {
    color: white;
}

